body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100vh;
	font-family: "Roboto", "Arial", sans-serif;
	-moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	hyphens: auto;
	@media (min-width: 300px) {
		font-size: 0.75em;
	}
	@media (min-width: 500px) {
		font-size: 1em;
	}
	@media (min-width: 2000px) {
		font-size: 2em;
	}
}
a {
	text-decoration: none;
}
h1 {
	margin: 0;
}
p {
	padding: 0;
}
img {
	image-rendering: -moz-crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: crisp-edges;
    height: auto;
    display: block;
    margin: 0 auto;
}
ul {
	padding: 0;
	list-style-type: none;
}
button {
	border: none;
	background-color: #FFFFFF00;
}
header {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #2E74B0B2;
	width: 100vw;
	z-index: 2;
}
li {
	text-decoration: none;
}
footer {
	background-color: #2E74B0;
	color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	opacity: 0.6;
	transition: 0.5s;
}
button {
	border: none;
}
main {
	padding: 50px;
	min-height: 71vh;
}

.menu {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	position: static;
	width: 100%;
	margin: 0;
	opacity: 1;
	padding: 10px 0;
	align-items: center;
}
.header__logo {
	display: flex;
	width: 10%;
	align-items: center;
}
.logo img {
  	width: 100%;
}
.menu__navigation {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 0;
	margin-top: 0;
	vertical-align: middle;
}
.menu__point {
	width: 100%;
	color: white;
	text-align: center;
	font-size: 1em;
}
.menu__shop-header {
	font-size: 1em;
	font-weight: normal;
}
.icons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: auto;
	width: 20%;
}
.icons__icon {
	opacity: 0.5;
	transition: 0.5s;
	width: 80%;
}
.menu__underline {
	opacity: 0;
	transition: 0.5s;
	width: 0;
	height: 1px;
	margin: 0;
	border-color: white;
	background-color: white;
}
.header__logo {
	opacity: 1;
	width: 0;
}
.header__logo img {
	width: 100%;
}
.slider {
	width: 100%;
	height: 100vh;
	object-fit: cover;
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.slider__arrow {
	opacity: 0.6;
	width: 5vw;
	height: 100vh;
	transition: 0.5s;
	display: flex;
	align-items: center;
}
.slider__arrow img{
	width: 3vw;
}
.slider__background {
	width: 100%;
	height: 100%;
	background-color: #85A8D94D;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.slider__container {
	padding-left: 2%;
	padding-right: 2%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 90vw;
}
#slider__header {
	font-weight: bold;
	font-size: 5em;
	color: white;
	transition: 0.5s;
	opacity: 0;
	width: 86vw;
}
#slider__text {
	font-style: italic;
	font-weight: normal;
	font-size: 2em;
	color: white;
	transition: 0.5s;
	opacity: 0;
	width: 86vw;
}

.tiles {
	grid-gap: 10px;
	display: grid;
	width: 80%;
	grid-template-columns: repeat(1, 1fr);
	@media (min-width: 320px) {
		grid-template-columns: repeat(1, 1fr);
		grid-template-areas:
			"a"
			"e"
			"g"
			"k";
	}
	@media (min-width: 600px) {
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas:
			"a a b"
			"a a b"
			"f e e"
			"m e e"
			"g g g"
			"k k h"
			"k k i"
			"j l l";
	}
	@media (min-width: 1000px) {
		grid-template-columns: repeat(5, 1fr);
		grid-template-areas:
			"a a b c c"
			"a a b e e"
			"d f f e e"
			"g g i i h"
			"g g k k j"
			"l m k k j";
	}
	gap: 10px;
  	color: white;
	padding: 7vh 10%;
}
.tiles div {
	border-radius: 10px;
}
#post-1 {
	grid-area: a;
}
#post-2 {
	grid-area: b;
	background-color: #304574;
}
#post-3 {
	grid-area: c;
  	background-color: #C4C4C4;
}
#post-4 {
	grid-area: d;
	background-color: #304574;
}
#post-5 {
	grid-area: e;
}
#post-6 {
	grid-area: f;
  	background-color: #85A8D9;
}
#post-7 {
	grid-area: g;
}
#post-8 {
	grid-area: h;
  	background-color: #304574;
}
#post-9 {
	grid-area: i;
  	background-color: #C4C4C4;
}
#post-10 {
	grid-area: j;
  	background-color: #85A8D9;
}
#post-11 {
	grid-area: k;
}
#post-12 {
	grid-area: l;
  	background-color: #85A8D9;
 }
#post-13 {
	grid-area: m;
	background-color: #304574;
}

.article {
	height: calc(100% - 60px);
	width: 90%;
  	background-color: #FF9700AD;
  	border-radius: 10px;
  	transition: 0.5s;
	padding: 30px 5%;
	color: white;
}
.article__header {
	z-index: 1;
	margin: 0;
	border-radius: 10px;
	font-size: 2em;
}
.article__image {
	width: 90%;
	align-items: center;
	border-radius: 10px;
}
.article__price {
	z-index: 1;
	font-size: 1.5em;
	font-weight: bold;
}
.article__text {
	z-index: 1;
	margin: 10px 0 0;
	border-radius: 10px;
	font-size: 1em;
}
.content {
	color: #304574;
}
.content__title_big {
	font-size: 4em;
	text-align: center;
	text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	font-weight: bold;
}
.content__title {
	font-size: 3em;
	text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	font-weight: bold;
}
.content__title_small {
	font-size: 2em;
	font-weight: bold;
}
.content__images {
	width: 20%;
}
.content__text {
	font-size: 1em;
}
.content__text_loose {
	font-size: 1em;
	line-height: 2em;
	text-decoration: underline overline;
	text-transform: uppercase;
}
.top-table {
	width: 100%;
	border-collapse: collapse;
}
.top-table__header {
	text-align: center;
	margin: 0;
}
.top-table > tbody > tr > th {
	border: 3px solid #304574;
}
.top-table > tbody > tr > td {
	border: 3px solid #304574;
}
.menu__point:hover .menu__underline{
	opacity: 1;
	transition: 0.5s;
	width: 98.4%;
	margin: 0;
}
.icons__icon:hover {
	opacity: 1;
	transition: 0.5s;
}
footer:hover {
	opacity: 1;
	transition: 0.5s;
}
.slider__arrow:hover {
	opacity: 1;
	transition: 0.5s;
	background-color: #00000040;
	z-index: 0;
}
.article:hover {
	transform: translate(-10px, -10px);
	transition: 0.5s;
  	background-color: #FF9700;
}
.top-table > tbody > tr:nth-child(even) {
	background-color: rgba(133, 168, 217, 0.5);
}